html {
  line-height: 1.4;
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  width: 100%;
  min-height: 100vh;
  font-family: var(--epe-font-family-base);
  font-size: 16px;
  font-weight: 400;
  color: var(--epe-c-black);
  background-color: var(--epe-c-white);
  direction: ltr;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

pre,
code,
kbd,
samp {
  font-family: var(--vp-font-family-mono);
}
